<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    testdox="true" colors="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnPhpunitDeprecations="true"
    bootstrap = "vendor/autoload.php"
    >
    <testsuites>
        <testsuite name="Base CLI">
            <file>tests/SupportTest.php</file>
            <file>tests/BaseCliTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>